body {
    margin: 0;
}

.cards {
    text-align: center;
}

.card {
    display: inline-block;
    background: white;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}

.card-content p {
    font-size: 1em;
}


/* Flexbox */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {
    
    .card {
        flex: 1 1 calc(25% - 1em);
    }
}
